@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #6c5ce7;
}

.l-main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.draw-animation {
  border: 1px solid #6c5ce7;
  padding: 2rem;
  border-radius: 0.4rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.github-icon {
  width: 350px;
  height: 350px;
}

.draw {
  stroke: #6c5ce7;
  stroke-width: 0.7px;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 67;
  stroke-dashoffset: 67;
  -webkit-animation: drawing 5s forwards;
          animation: drawing 5s forwards;
}

@-webkit-keyframes drawing {
  100% {
    stroke-dashoffset: 134;
  }
}

@keyframes drawing {
  100% {
    stroke-dashoffset: 134;
  }
}
